
h1 {
	font-size: 1.3em;
}

body {
	background-color:#000;
	color: #bbb;
	font-family: Cantarell, sans-serif;  
	font-size: 1em;
	line-height: 1.6;

	width: 48em;
	margin: 2em;
	padding: 0em 4em;
}

code, pre {
	background-color: #111;
	color: #ccc;
	font-size: 1.1em;
	line-height: 1.2;

	width: 64em;
	/* top and bottom padding is 0.2em, left and right is 0.5em */
	padding: 0.2em 0.5em;
	text-indent: -0.5em;
}		   

.container { 
	position: relative; 
	padding:0 0 0 12em;
}

#sidebar {
	position: absolute;
	background-color: #000;
	font-size: 1em;
	top: 2em; bottom: 0; left: 0;
	width: 12em;
}

/* On smaller screens, where height is less than xxxpx, change the style of 
the sidenav (less padding and a smaller font size) */ 
@media (max-width: 1000px) {

	h1 {
		font-size: 1em;
	}

	body {
		//font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
		font-family: Tahoma, Geneva, sans-serif;

		width: 100%;
		margin: 0em;
		padding: 0em 1em;
		//white-space: no-wrap;
	}

	code, pre {
		font-size: 1.2em;
	}
	

	.container { 
		position: static; 
		padding:0 0 0 0;
	}

	#sidebar {
		position: static;
	}
}

a:link {
	color: #666;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #666;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #666;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: #666;
	background-color: transparent;
	text-decoration: underline;
}
