
body {
	background-color:#000;
	font-family: Cantarell, sans-serif;  
	margin: 20px auto;
	max-width: 750px;
	line-height: 1.6;
	font-size: 18px;
	color: #bbb;
	padding: 0 10px;
}

code, pre {
	background-color: #111;
	font-size: 15px;
	color: #ccc;
	/* top and bottom padding is 1px, left and right is 6px */
	padding: 1px 6px;
}		   

.container { position:relative; padding:0 0 0 210px; }
#sidebar {
	position:absolute;
	top:32px; bottom:0; left:0;
	width:200px;
	background-color:#000;
}

/* On smaller screens, where height is less than 450px, change the style of 
the sidenav (less padding and a smaller font size) */ 
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}

a:link {
	color: #666;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #666;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #666;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: #666;
	background-color: transparent;
	text-decoration: underline;
}

/* not needed for now
#header { border:1px solid #000; width:100px; height:20px; 
	margin:0 0 5px 0;
}
#content { border:1px solid #000; width:100px; height:50px;
	margin:5px 0 5px 0;
}
#footer { border:1px solid #000; width:100px; height:20px;
	margin:5px 0 0 0;
}
*/

